# Target configuration for Linksys MR7350
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y

# 1. 替换目标设备为 Linksys MR7350，并自动加载专有 Wi-Fi 射频文件
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_linksys_mr7350=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_linksys_mr7350="ipq-wifi-linksys_mr7350 -kmod-ath11k-pci zram-swap"

CONFIG_TARGET_ROOTFS_INITRAMFS=n

# Swap
CONFIG_PACKAGE_zram-swap=y

# Kernel modules (全部改为 =y 直接编译进内核/根文件系统)
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y

# USB Support (MR7350 拥有 USB 3.0 接口)
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
CONFIG_PACKAGE_kmod-usb-dwc3-qcom=y

# Packages
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_mii-tool=y
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_xz-utils=y

# LuCI Applications & UI
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-quickfile=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-ttyd=y

# MR7350 双系统专属：建议加上高级重启插件，方便在网页直接切换 A/B 分区
CONFIG_PACKAGE_luci-app-advanced-reboot=y
