# Proxy
# Passwall
# Momo 与 Sing-Box 核心
CONFIG_PACKAGE_momo=y
CONFIG_PACKAGE_luci-app-momo=y
CONFIG_PACKAGE_sing-box=y

# 必需的内核与防火墙模块 (解决防火墙卡死/无法分配IP)
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-connmark=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iptables-mod-tproxy=y

# 确保开机不会因为路由表规则缺失导致网络崩溃
CONFIG_PACKAGE_kmod-tun=y

CONFIG_PACKAGE_luci-app-openclash=n
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=n
